.button-shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 8px;
}

.emptyCart {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.empty-text{
    display: inline;
    margin-bottom: 0px;
    color: white;
}

.empty-icon{
    color: white;
    margin-right: 10px;
}

.shopping-container{
    max-height: 400px;
    overflow: scroll;
}

.total-price{
    color: white;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--shadow-color);
    padding: 20px;
}