<div class="gallery">
    @if (images) {
        <ngb-carousel 
            [showNavigationArrows]="navigationsArrows"
            [showNavigationIndicators]="navigationsIndicators"
            [keyboard]="true">
    
            @for (image of images; track image.path){
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="image.safeUrl" alt="Random Slide" />
                    </div>
                    <div class="carousel-caption">
    
                    </div>
                </ng-template>
            }
        </ngb-carousel>
    }
</div>
