<div
    *ngIf="product$ | async as product"
    class="product-detail"
>
<div class="details-container">
    <div class="pictures">
        <app-gallery
        [images]="product.images"
        ></app-gallery>
    </div>
    <section class="details">
        <div style="flex-grow: 1;">
            <h3>{{product.name}}</h3>
            <span>{{product.price | currency: "EUR":"symbol"}}</span>
            <app-rating [rating]="rating"></app-rating>
            <!-- <hr /> -->
            <app-nav-product-details [userComment]="userComment" [comments]="comments"></app-nav-product-details>
        </div>
    </section>
</div>